@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Verifiera registrering";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Vänligen kontrollera din e-post <b>@Model.Email</b> för att verifiera ditt konto.
        </p>
        <p>
            Fick du inget mejl? Kontrollera din skräppostmapp eller  <a asp-page="./ResendEmailConfirmation" asp-route-email="@Model.Email">Skicka ett nytt verifieringsmejl</a>.
        </p>
    }
}

